body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* Header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    gap: 50px;
}

.header-logo {
    font-size: 24px;
    font-weight: bolder;
}

.header-logo,
.nav-links {
    width: 600px;
    padding: 0;
    flex: 0 1 auto;
}

ul,
.header-logo {
    color: #F9FAF8;
}

ul {
    display: flex;
    justify-content: right;
}

li {
    list-style: none;
    margin-left: 20px;
}



/* Hero Area */

.hero-area {
    display: flex;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero-area-text {
    color: #F9FAF8;
    width: 600px;
    flex: 0 1 auto;

}
.hero-image-container {
    width: 600px;
    min-width: 275px;
    flex: 0 1 auto;

}
.hero-image-container img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-area-text p {
    font-size: 18px;
    color: #E5E7EB
}





/* Card Area */

.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.card-section-title {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

.card {
    
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

.card-image img{
    border-style: solid;
    border-color: burlywood;
    border-radius: 5px;
    width: 100%;
}

.card-text {
    text-align: center;
}



/* Quote Area */

.quote-area {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.quote-area p {
    font-size: 36px;
    font-weight: light;
    width: 50%;
}

.quote-author {
    margin-left: auto;
}

/* Call to action section */

/* Footer */

/* Common Styles */

.header,
.hero-area,
.footer {
    background-color: #1F2937;
}

.action-area,
button {
    background-color: #3882F6;
}

button {
    width: 75px;
    height: 32px;
    border-radius: 10px;
}

















